.App {
  text-align: center;
}

.navbar{
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: grey;
  padding: 1em;
  min-height: 2em;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
}

a {
  text-decoration: none;
  color: black;
}

.img {
  max-width: 500px;
  max-height: 500px;
}